$primary-color:#3292a6;
$primary-overlay:rgba(50, 146, 166, 0.8);

body{
    margin-top:105px;
}

.navbar{
    box-shadow:2px 2px 5px $primary-color;
    opacity:0.9;
    background:#fff;
    
    .nav-item{
        font-size:1.4rem;
        padding-right:20px;
    }
}

#showcase{
    background:url('../img/header-img.jpeg');
    min-height:600px;
    position:relative;

    .primary-overlay{
        background:$primary-overlay;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;

    }
}